:root {
    --camera-color: #00C00C; 
    --radar-color: #0089CF; 
    --ultrasound-color: #FDB913; 
    --internal-color: #BCC1CC; 
}

html { height: 100vh; }

body {
    margin: 0 auto; 
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;
    background-color: #0D111A; 
    height: 100vh;
    font-synthesis: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }; 
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@keyframes pulse {
    0%, 100% { 
        fill-opacity: .75;
        stroke-width: 1px; 
        
    }
    70% { 
        fill-opacity: 1; 
        stroke-width: 3.25px;
    }; 
}

a {
    text-decoration: none;
}

#video-container {
    display: flex; 
    align-self: center; 
    position: fixed; 
    min-height: 100%; 
    z-index: -5;
    scale: .8;  
}

.shadow {
    position: absolute;
    max-height: 784px; 
    height: 100%; 
    max-width: 1536px; 
    width: 100%; 
    box-shadow: 0px 0px 100px 100px #0D111A inset;
}

/* #background-video {
    display: flex; 
    align-self: center; 
    justify-items: center; 
    position: fixed; 
    min-width: 100%; 
    min-height: 100%; 
    z-index: -5;
    scale: .8;  
} */

svg {
    width: 1200px; 
    height: 612.5px; 
    align-self: center; 
    justify-self: center; 
    scale: .75; 
}

.nav-hidden{
    animation: slide-out 0.5s forwards; 
}

.nav-open {
    animation: slide-in 0.5s forwards; 
}

#nav {
    position: absolute;
    top: 0; 
    left: 0; 
    height: 100vh;
    max-height: 100%; 
    transform: translateX(-100%); 
    background-color: #0D111A;
    z-index: 4;   
}

#nav-control {
    z-index: 5; 
    display: flex; 
    flex-direction: column; 
    position: absolute; 
    top: 2rem; 
    left: 2rem; 
    height: 30px; 
    width: 35px; 
    justify-content: space-between; 
}

#reset {
    z-index: 5; 
    position: absolute; 
    top: 2rem; 
    right: 2rem; 
    height: 30px; 
}

#hunter-logo {
    z-index: 3; 
    position: absolute; 
    bottom: 2rem; 
    left: 2rem; 
    max-height: 40px; 
}

#hunter-logo > img {
    height: 40px;
}

#disclaimer {
    z-index: 3; 
    position: absolute; 
    bottom: 2rem; 
    right: 2rem; 
    width: 20rem;  
    height: 50px; 
}

.nav-content {
    display: flex;
    flex-direction: column;
    padding: 6rem 2rem; 
    gap: 2rem;
}

.hamburger {
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    width: 100%; 
    justify-content: space-between; 
}

.bar {
    width: 100%;
    height: 5px; 
    background-color: #888E9A; 
}

.camera {
    --ds2f-default-color: var(--camera-color);
    --ds2f-hover-color: #15ce22;
    --ds2f-active-color: #009009;
    --ds2f-focus-border-color: #40D049;
    --ds2f-focus-color: #00A80B;
}

.radar {
    --ds2f-default-color: var(--radar-color);
    --ds2f-hover-color: #07a0ec;
    --ds2f-active-color: #036ea3;
    --ds2f-focus-border-color: #2bb8ff;
    --ds2f-focus-color: #0382c2;
}

.ultrasound {
    --ds2f-default-color: var(--ultrasound-color);
    --ds2f-hover-color: #EC951A;
    --ds2f-active-color: #c97500;
    --ds2f-focus-border-color: #ffb246;
    --ds2f-focus-color: #EC951A;
}

.internal {
    --ds2f-default-color: var(--internal-color);
    --ds2f-hover-color: #A1A7B2;
    --ds2f-active-color: #888E9A;
    --ds2f-focus-border-color: #DDE2EB;
    --ds2f-focus-color: #A1A7B2;
}

#heading {
    display: flex; 
    flex-direction: column; 
    position: absolute; 
    align-items: center; 
    top: 1rem; 
}

/* #category-buttons {
    scale: .75; 
} */

#oem-buttons {
    display: flex; 
    flex-direction: column; 
    position: absolute; 
    align-items: center; 
    bottom: 1rem; 
    scale: .75; 
}

path, circle {
    animation: pulse 1.6s infinite; 
    border-radius: 2rem; 
}

#camera {
    stroke:var(--camera-color); 
}

#radar {
    stroke:var(--radar-color); 
}

#ultrasound{
    stroke:var(--ultrasound-color); 
}

#internal {
    stroke: var(--internal-color); 
    fill: var(--internal-color); 
    fill-opacity: .35;
}

#camera:hover, #radar:hover, #ultrasound:hover, #internal:hover {
    transition: fill-opacity .25s, stroke-width .25s; 
    fill-opacity: 1;
    stroke-width: 5px !important;
    fill-opacity: 1 !important;
    scale: 1.0025;  
}

.modal-content {
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    width: 100%;
}

.modal-content > h1, .modal-content > h2, .modal-content > h3, .modal-content > h4 {
    align-self: center; 
}

.ds2c-modal > h2 {
    align-self: center; 
}

.content-layout {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    width: 100%;
    align-items: center;  
    padding: 2rem 0rem; 
}

.content-layout.column {
    flex-direction: column; 
}

.two-item {
    width: 49.9%;
}

.two-item > img {
    max-width: 100%; 
    max-height: 300px; 
}

.three-item {
    width: 33.3%;
}

.three-item > img {
    max-width: 100%; 
    max-height: 218px; 
}

.section {
    width: 50%; 
}

.section > img {
    width: 100%; 
    height: auto; 
}

.paragraph {
    margin: 1.5rem 0rem; 
    padding: 0rem 3rem; 
}

.paragraph.vertical, .content-layout.vertical {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.paragraph.vertical > p {
    text-align: center; 
}

.oem-hidden {
    display: none; 
    transition: display 2s;
}

.hidden {
    opacity: 0; 
}

.button-row {
    display: flex;
    max-width: 1000px; 
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center; 
    gap: 2rem; 
}

.oem-button {
    margin: 0px !important; 
    height: 100px !important;
    width: 100px !important;
    padding: 12px 12px !important;
    display: flex; 
    align-items: center; 
    justify-content: center;
    --ds2f-hover-color: #EBEEF5 !important;
    --ds2f-active-color: #DDE2EB !important;
    --ds2f-focus-color: #DDE2EB !important;
}

.oem-container {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    height: 100%; 
}

.oem-container > img {
    /* flex-grow: 1;  */
    width: 100%;
    height: auto; 
    max-width: 55px;
    max-height: 55px;
}

.split-btn {
    width: 55%;
    transform: rotateY('45')
}

.split-btn > img {
    max-width: 55px;
    max-height: 55px;
}

.diagonal {
    position: absolute;
    z-index: 1; 
    width: 1px; 
    height: 85px; 
    background-color: #888E9A;
    transform: rotate(45deg); 
}

.oem-button.three {
    flex-wrap: wrap; 
    gap: 10px 10px;
}

.oem-button.three > img {
    max-width: 50px;
    max-height: 50px;
}

.oem-button.four {
    flex-wrap: wrap; 
    gap: 5px 5px;
}

.oem-button.four > img {
    max-width: 30px;
}

.dark-gradient {
    position: fixed; 
    width: 100%; 
    height: 20rem; 
    bottom: 0; 
    background: linear-gradient(to top, #0D111A, #0D111A00);
    z-index: -4; 
}

.dark-gradient-top {
    position: fixed; 
    width: 100%; 
    height: 20rem; 
    top: 0; 
    background: linear-gradient(to bottom, #0D111A, #0D111A00);
    z-index: -4; 
}

.dark-gradient-left {
    position: fixed; 
    width: 20rem; 
    height: 100%; 
    top: 0; 
    left: 0; 
    background: linear-gradient(to right, #0D111A, #0D111A00);
    z-index: -4; 
}

.dark-gradient-right {
    position: fixed; 
    width: 20rem; 
    height: 100vh; 
    top: 0; 
    right: 0; 
    background: linear-gradient(to left, #0D111A, #0D111A00);
    z-index: -4; 
}

#oem-list {
    position: absolute; 
    display: flex; 
    flex-direction: column; 
    align-content: center; 
    justify-content: center; 
    color: #FFFFFF; 
    right: 0; 
    top: 0; 
    height: 100vh;
    width: 25rem;  
    padding-right: 2rem; 
    scale: .75; 
}

#oem-list-items {
    display: flex;
    flex-direction: column;  
    gap: .5rem; 
    margin: 0; 
}

.oem-list-item {
    display: flex; 
    align-items: center; 
    gap: .5rem; 
    margin: 0; 
}

.oem-list-item > p {
    display: flex; 
    align-items: center; 
    gap: .5rem; 
    margin: 0rem; 
}

.circle {
    border-radius: 50%; 
    width: 10px; 
    height: 10px; 
    background-color: var(--ds2f-default-color); 
}

.ds2c-columns .ds2s-column {
    width: 10rem !important; 
}

.ds2c-columns .ds2s-column .ds2s-column-subtitle {
    font-size: 1rem !important; 
    line-height: 1.5rem !important; 
}

.internal .ds2s-column .ds2s-column-subtitle {
    font-size: 1.375rem !important; 
    line-height: 2.00000625rem !important; 
}

.internal .ds2s-column {
    width: 15rem !important; 
}

.divider {
    width: 3px; 
    height: 150px; 
    background-color: #EBEEF5;
}

@media screen and (max-width: 1480px) {
    #disclaimer {
        opacity: 0; 
    }

    #category-buttons {
        scale: .75; 
    }

    #oem-list {
        width: 18rem; 
    }
}