:root {
    --camera-color: #00C00C; 
    --radar-color: #C00C00; 
    --ultrasound-color: #0300c0; 
}

body {
    margin: 0 auto; 
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
}

.svg-shape {
    border-radius: 2rem;  
}

#camera {
    fill: var(--camera-color); 
    fill-opacity: 0.5;
    stroke:var(--camera-color); 
    stroke-width: 3px;
}

#camera:hover {
    fill-opacity: 0.8;
    stroke-width: 5px; 
}

#radar {
    fill: var(--radar-color); 
    fill-opacity: 0.5;
    stroke: var(--radar-color); 
    stroke-width: 3px;
}

#radar:hover {
    fill-opacity: 0.8;
    stroke-width: 5px; 
}

.oem-hidden {
    display: none; 
}

.button-row {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 2rem; 
}

.oem-button {
    height: 100px !important;
    width: 100px !important;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.split-btn {
    width: 50%;
    transform: rotateY('45')
}

.split-btn > img {
    max-width: 38px;
    max-height: 38px;
}

.diagonal {
    position: absolute;
    z-index: 1; 
    width: 1.5px; 
    height: 100px; 
    background-color: #EBEEF5;
    transform: rotate(45deg); 
}