:root {
    --camera-color: #00C00C; 
    --radar-color: #C00C00; 
    --ultrasound-color: #0300c0; 
}

html { height: 100vh; }

body {
    /* height: 100vh;  */
    margin: 0 auto; 
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
}

.svg-shape {
    border-radius: 2rem;  
}

#camera {
    fill: var(--camera-color); 
    fill-opacity: 0.5;
    stroke:var(--camera-color); 
    stroke-width: 3px;
}

#camera:hover {
    transition: fill-opacity .15s; 
    fill-opacity: 0.8;
    stroke-width: 5px; 
}

#camera-experiment {
    fill-opacity: 0.75;
    stroke:var(--camera-color); 
    stroke-width: 3px;
}

#camera-experiment:hover {
    transition: fill-opacity .25s, stroke-width .25s; 
    fill-opacity: 1;
    stroke-width: 5px;
}

#radar {
    fill: var(--radar-color); 
    fill-opacity: 0.5;
    stroke: var(--radar-color); 
    stroke-width: 3px;
}

#radar:hover {
    transition: fill-opacity .15s; 
    fill-opacity: 0.8;
    stroke-width: 5px; 
}

.oem-hidden {
    display: none; 
    transition: display 2s;
}

.button-row {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 2rem; 
}

.oem-button {
    height: 100px !important;
    width: 100px !important;
    padding: 15px 15px !important;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.split-btn {
    width: 55%;
    transform: rotateY('45')
}

/* With diagonal */
/* .split-btn > img {
    max-width: 50px;
    max-height: 50px;
    min-width: 30px; 
    min-height: 30px
} */

/* Without diagonal */
.split-btn > img {
    max-width: 55px;
    max-height: 55px;
}

.diagonal {
    position: absolute;
    z-index: 1; 
    width: 1px; 
    height: 85px; 
    background-color: #888E9A;
    transform: rotate(45deg); 
}

#hyundaiBtn {
    flex-wrap: wrap; 
    gap: 10px 10px;
}

#hyundaiBtn > img {
    max-width: 50px;
    max-height: 50px;
}