:root {
    --ds2v-color-success: #00C00C; 
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;  
    vertical-align: middle;
}

#map { height: 500px; }

.leaflet-container { background: #FFFFFF !important }

#curve-path {
    fill: var(--ds2v-color-success);
    stroke: var(--ds2v-color-success);
    fill-opacity: 0.2; 
}

#curve-path:hover {
    fill-opacity: 0.4;  
    stroke-width: 5; 
}

#curve-path:is(:active, :focus) {
    fill: #000000; 
    stroke: #000000;
}

