body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;  
    vertical-align: middle;
}

#map { height: 500px; }

.leaflet-container { background: #FFFFFF !important }

#path:hover {
    color: #C00C00; 
}

