@mixin popup-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(0.3rem);
    top: 0;
}

@mixin popup-content {
    background-color: $color-white;
    box-shadow: $shadow-medium;
    border-radius: $border-radius-medium;
    padding: 1rem 1rem 2rem 2rem;
    max-height: calc(100vh - 8rem);
    max-width: min(calc(100vw - 4rem), 1000px);
    overflow-y: scroll;

    @include screen-size("xs") {
        max-width: min(calc(100vw - 8rem), 1000px);
    }

    &::-webkit-scrollbar {
        background: $color-white;
        border-radius: $border-radius-medium;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-neutral-lighter;
        border-radius: $border-radius-medium;
        border: 2px $color-white solid;

        &:hover {
            background-color: $color-neutral-light;
        }
    }
}

@mixin popup-close-button {
    height: 1.2rem;
    width: 1.2rem;
    margin-left: auto;
    margin-top: 1rem;

    &::before {
        @include svg-content('x',$color-neutral-light);
        display: block;
        cursor: pointer;
    }
}

.ds2u-popup-background{
    @include popup-background;
}

.ds2u-popup-content{
    @include popup-content;
}

.ds2u-popup-close-button{
    @include popup-close-button;
}


