@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    background-color: #000000;  
    vertical-align: middle;
}

h1 {
    display: flex; 
    align-self: center; 
    text-align: center; 
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 60px;  
}

div {
    display: flex; 
    align-self: center;
}

.brake-lathe img {
    width: 650px;
    height: auto;
}

.quick-check img {
    width: 1000px;
    height: auto; 
}
