@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&family=Poppins:ital,wght@0,700;1,700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    background-color: #000000;  
    vertical-align: middle;
}

h1 {
    display: flex; 
    align-self: center; 
    text-align: center; 
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 60px;  
}

div {
    display: flex; 
    align-self: center;
}

.brake-lathe img {
    width: 650px;
    height: auto;
}

.quick-check img {
    width: 1000px;
    height: auto; 
}

model-viewer {
    width: 100vw;
    height: 600px; 
}

#ar-button {
    background-color: #000000; 
    color: #ffffff; 
    border: 2px solid #ffffff; 
    border-radius: 16px; 
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    font-weight: 500; 
    text-transform: uppercase; 
    padding: 20px 20px; 
    position: absolute; 
    bottom: 0px; 
    right: 0px; 
}

#ar-button img {
    width: 40px; 
    height: 40px; 
    margin-right: 20px; 
}
